.textCenter {
  text-align: center;
}

.navbar-dark {
  background-color: sienna;
}

/* .fixed-bottom {
  position: fixed;
  margin: auto;
  height: 100px;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  padding-top: 20px;
} */

.mousePointer{
  cursor: pointer; 
}

.container {
  min-height: 68vh;
}

